/**
 * Footer Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

footer {
    position: relative;
    z-index: 4;
    .footer {
        padding:30px 0;
        p {
            margin-bottom: 0;
            font-family: $sans;
            span {
                color:$yellow;
                font-weight: $bold;
            }
        }
        #footer-left {
            display:flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                img {
                    height: 50px;
                }
            }
            .disclaimer {
                max-width: 40%;
                @media screen and (max-width:$screen-sm) {
                    max-width: 100%;
                    margin-top: 30px;
                }
                p {
                    color:#777;
                }
            }
            .mobile-group {
                display:flex;
                width:55%;
                justify-content: space-between;
                align-items: center;
                @media screen and (max-width:$screen-sm) {
                    width:100%;
                    align-items: flex-start;
                }
                .mobile-group-left {
                    width:10%;
                    @media screen and (max-width:$screen-xxs) {
                        width:20%;
                    }
                    .logo {
                        img {
                            height: 70px;
                            margin-top: -7px;
                        }
                    }
                }
                .mobile-group-right {
                    display:flex;
                    justify-content: space-around;
                    width:90%;
                    @media screen and (max-width:$screen-xxs) {
                        width:75%;
                        flex-wrap: wrap;
                    }
                    .address {
                        margin-bottom: 0;
                        @media screen and (max-width:$screen-xxs) {
                            margin-bottom:20px;
                            width:100%;
                        }
                    }
                    .contact {
                        @media screen and (max-width:$screen-xxs) {
                            width:100%;
                        }
                    }
                }
            }
        }
    }
}