/**
 * Theme footer
 *
 * @package Postali Child
 * @author Postali LLC
**/

@mixin drop-down-select {
    @media screen and (max-width:$screen-sm) {
        margin-bottom: 20px;
    }
    #select-box {
        #options-view-button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            opacity: 0;
            cursor: pointer;
            z-index: 3;
            &:checked ~ #options {
                border: 1px solid #e2eded;
                border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
            }
            &:checked ~ #options a {
                display: block;
                padding: 13px 14px;    
                font-family: $serif;
                margin-left: 10px;
                text-align: left;
                font-size: 14px;
            }
            &:checked ~ #options #option-bg { display: block; }
        }
        #select-button {
            position: relative;
            height: 16px;
            padding: 18px 14px;
            background-color: $bgdkblue;
            cursor: pointer;
            height:100%;
            border-radius: 40px;
            #selected-value {
                font-size: 14px;
                line-height: 100%;
                text-align: center;
                font-family: $sans;
                font-weight: bold;
            }
            #chevrons {
                position: absolute;
                top: 12px;
                right: 22px;
                bottom: 0;
                width: 12px;
                padding: 9px 14px;
                .icon-down-tick {
                    font-size: 8px;
                }
            }
        }
        #options {
            position: absolute;
            top: 60px;
            right: 0;
            left: 0;
            width: 100%;
            margin: 0 auto;
            background-color: #fff;
            z-index: 2;
            .options {
                position: absolute;
                left: 0;
                width: 100%;
                a {
                    display: none;
                    padding: 0;
                    color:$grey;
                }
            }
        }
    }

    .option, .label {
        color: $grey;
        font-size: 16px;
    }
    
    .option {
        position: relative;
        line-height: 1;
        transition: 0.3s ease all;
        z-index: 2;
        text-align: center;
        &:hover ~ #option-bg { background-color: #e6e3d8; }
        &:hover a { color: $blk; }
    }

    a {
        display: none;
        padding: 0;
        color:$grey;
        font-family: $sans;

    }

    @keyframes moveup {
        0%{ bottom: -25px; opacity: 0;}
        100%{ bottom: 0; opacity: 1;}
    }

    @keyframes movedown {
        0%{ top: -25px; opacity: 0;}
        100%{ top: 0; opacity: 1;}
    }

    #option-bg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 40px;
        transition: 0.3s ease all;
        z-index: 1;
        display: none;
    }

    .option:nth-child(2):hover ~ #option-bg { top: 40px; }
    .option:nth-child(3):hover ~ #option-bg { top: 80px; }
    .option:nth-child(4):hover ~ #option-bg { top: 120px; }
    .option:nth-child(5):hover ~ #option-bg { top: 160px; }
    .option:nth-child(6):hover ~ #option-bg { top: 200px; }
    .option:nth-child(7):hover ~ #option-bg { top: 240px; }
    .option:nth-child(8):hover ~ #option-bg { top: 280px; }
    .option:nth-child(9):hover ~ #option-bg { top: 320px; }
    .option:nth-child(10):hover ~ #option-bg { top: 360px; }
    .option:nth-child(11):hover ~ #option-bg { top: 400px; }
    .option:nth-child(12):hover ~ #option-bg { top: 440px; }
    .option:nth-child(13):hover ~ #option-bg { top: 480px; }
    .option:nth-child(14):hover ~ #option-bg { top: 520px; }
    .option:nth-child(15):hover ~ #option-bg { top: 560px; }
    .option:nth-child(16):hover ~ #option-bg { top: 600px; }
    .option:nth-child(17):hover ~ #option-bg { top: 640px; }
    .option:nth-child(18):hover ~ #option-bg { top: 680px; }
    .option:nth-child(19):hover ~ #option-bg { top: 720px; }
}

@mixin bordered-boxes {
    .bordered-box {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 1px solid $blk;
        padding: 0 0 30px 0;
        flex-wrap: wrap;
        &:first-of-type {
            border-top: 1px solid $blk;
            padding-top: 10px;
        }
        .bordered-box-top {
            display: flex;
            width: 100%;
            margin-bottom: 20px;
            justify-content: space-between;
            align-items: center;
            a {
                width:100%;
                display:flex;
                justify-content: space-between;
                align-items: center;
                p {
                    font-size: 24px;
                    font-weight: $bold;
                    margin-bottom: 0;
                    color:$blk;
                    line-height: 110%;
                }
            }
            .arrow-icon {
                background:$bgdkblue;
                border-radius: 50%;
                display: flex;
                justify-content: space-between;
                transition: $trans;
                &::after {
                    content:"\e900";
                    font-family: $icomoon;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    width:35px;
                    height:35px;
                    color:$blk;
                    font-size: 14px;
                    transition: $trans;
                }
            }
            &:hover {
                .arrow-icon {
                    background:$yellow;
                    transition: $trans;
                }
            }
        }
        .bordered-box-bottom {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            justify-content: flex-start;
            .child-links {
                display:block;
                width:33%;
                margin:5px 0;
                @include child-links-style;
            }
        }
    }
}

@mixin linked-bordered-boxes {
    .bordered-box {
        padding-bottom: 15px;
        &:hover {
            .bordered-box-top {
                .arrow-icon {
                    background:$yellow;
                    transition: $trans;
                }
                p {
                    position:relative;
                    text-decoration: underline;
                    text-decoration-color: $yellow;
                    text-decoration-thickness: 2px;
                }
            }
            .column-full {
                .blog-detail-block {
                    p {
                        color:$blk;
                        transition: $trans;
                    }
                }
            }
        }
        a {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .bordered-box-top {
                margin-bottom: 10px;
                p {
                    position:relative;
                    font-size: 24px;
                    font-weight: $bold;
                    margin-bottom: 0;
                    color:$blk;
                    line-height: 110%;
                    &::before {
                        content:"";
                        position:absolute;
                        left:0;
                        bottom:-3px;
                        height:2px;
                        width:100%;
                        background-color: transparent;
                        transition: $trans;
                    }
                }
            }
        }
    }
    .column-full {
        width: 90%;
        .blog-detail-block {
            width:25%;
            text-align: left;
            @media screen and (max-width:$screen-xs) {
                width:49%;
            }
            &:last-child {
                width:50%;
            }
            @include blog-meta;
            p {
                margin-bottom: 0;
                color:lighten(black, 70%);
                transition: $trans;
                .category {
                    font-family: inherit;
                    &:not(:last-child)::after {
                        content: ", ";
                    }
                }
            }
        }
    }
    @media screen and (max-width:$screen-xs) {
        .bordered-box-top {
            p {
                width:80%;
            }
        }
        .bordered-box-bottom {
            .column-full {
                justify-content: flex-start;
                .blog-detail-block {
                    &:last-child {
                        width: 100%;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

@mixin child-links-style {
    a {
        position: relative;
        font-family: $sans;
        color: $blk;
        font-size: 13px;
        font-weight: $bold;
        &::after {
            position:relative;
            content:"\e900";
            font-family: $icomoon;
            transform:translateX(5px);
            transition: $trans;
            display:inline-block;
            top:2px
        }
        &:hover {
            color:$blk;
            &::after {
                transform:translateX(8px);
                transition: $trans;
            }
        }
        &.underlined {
            &::before {
                width: calc(100% - 15px);
            }
        }
    }
}

@mixin attorney-headshot {
    .attorney-headshot {
        height:115px;
        width:115px;
        background:$bgltblue;
        border-radius: 50%;
        margin-right: 50px;
        &__small {
            @extend .attorney-headshot;
            height:45px;
            width:45px;
        }
    }
}

@mixin banner-read-more {
    .banner-read-more {
        position: relative;
        align-self: flex-end;
        width: 65px;
        justify-content: center;
        display: flex;
        &::after {
            position: absolute;
            content: "read more";
            font-family: $sans;
            font-size: 10px;
            font-weight: 700;
            bottom: -20px;
            left: 50%;
            text-transform: uppercase;
            text-align: center;
            transform: translateX(-50%);
            width: 100%;
            color:$blk;
        }
        .icon-arrow-down {
            width: 40px;
            height: 40px;
            background: $bgdkblue;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            color:$blk;
        }
    }
}

@mixin testimonial-container {
    .testimonial-container {
        p {
            font-size: 22px;
            span {
                font-size: 56px;
                margin-bottom: 20px;
                display: block;
                line-height: 120%;
                @media screen and (max-width:$screen-sm) {
                    font-size: 55px;
                }
                @media screen and (max-width:$screen-xxs) {
                    font-size: 35px;
                }
            }
        }
        .spacer-separator {
            height: 1px;
            width: 60%;
            margin: 40px auto 30px auto;
            display: block;
          }
        img {
            margin: 0 auto;
            max-width: 100px;
        }
    }
}

@mixin blog-meta {
    p {
        font-family: $serif;
        font-size: 14px;
        line-height: 120%;
        span {
            font-family: $sans;
            font-weight: $bold;
            font-size: 13px;
        } 
        a {
            display:inline;
        }
    }
}

@mixin breadcrumbs {
    #breadcrumbs {
        padding: 0;
        font-family: $sans;
        font-size: 12px;
        color:$blk;
        font-weight: normal;
        margin-bottom: 0;
        a {
            color:$blk;
            text-decoration: none;
            font-weight: $bold;
        }
    }
}

@mixin video-box {
    .video-box {
        background: $bgtan;
        margin-left: -30px;
        padding: 30px;
        margin-right: -30px;
        display: flex;
        justify-content: space-between;
        align-items: normal;
        border-left: 2px solid $yellow;
        @media screen and (max-width:$screen-md) {
            flex-wrap: wrap;
        }
        @media screen and (max-width:$screen-sm) {
            margin-left: 0;
            margin-right: 0;
            width:100%;           
        }
        .video-box-left,
        .video-box-right {
            width:45%;
            position: relative;
            @media screen and (max-width:$screen-md) {
                width:100%;
            }
        }
        .video-box-left {
            text-align: left;
            p {
                &:first-of-type,
                &:last-of-type {
                    margin-bottom: 10px;
                }
                &:first-of-type {
                    font-family: $sans;
                    font-weight: $bold;
                }
            }
            ul {
                @media screen and (max-width:$screen-md) {
                    margin-bottom: 0;
                }
                li {
                    &::before {
                        margin-right: 10px;
                      }
                }
            }
            &::after {
                border-left: 1px solid $blk;
                content: "";
                position: absolute;
                right: -10%;
                height: 100%;
                top: 0;
                @media screen and (max-width:$screen-md) {
                    display:none;
                }
            }
        }
        .video-box-right {
            p {
                display: flex;
                align-items: center;
                margin-bottom: 0;
                a {
                    text-decoration: none;
                }
                span {
                    margin-left: 10px;
                }
            }
        }
    }
}

@mixin caption-text {
    .caption {
        position: absolute;
        width: auto;
        text-align: center;
        bottom: 30px;
        left: 50%;
        background: #121722;
        padding: 10px 50px;
        transform: translateX(-50%);
        border-radius: 50px;
        max-width: 220px;
        p {
            line-height: 110%;
            font-size: 12px !important;
            color:$white;
            margin-bottom: 0;
        }
    }
}