/**
 * Sass variables and functions.
 *
 * @package Postali Child
 * @author Postali LLC
 */

// Breakpoints
$screen-xxxl: 1920px;
$screen-xxl: 1620px;
$screen-xl: 1400px;
$screen-lg: 1200px;
$screen-ipad: 1024px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 667px;
$screen-xxs: 480px;
$screen-xxxs: 360px;

// Containers
$container-max-width: $screen-xxl;
$container-padding:30px;

// Transitions
$transition-speed:.2s;
$transition-fast:.1s ease-in-ease-out;
$transition-slow:.4s ease-in-ease-out;

// Core Colors
$blk: #121722;
$grey: #666666;
$white: #FFFFFF;
$yellow: #FFCE32;
$bgyellow: #F7F4EA;
$bgltblue: #CADFE3;
$bgdkblue: #AFD0D6;
$bgtan: #E6E3D8;

// Link Attributes
// $link-color: $lt-red;
// $link-hover-color: $grey;
$link-transition-speed: .15s;
$trans: 0.3s linear;

// Typography
$sans: 'Outfit', sans-serif;
$serif: 'Libre Baskerville', serif;
$icomoon: 'Icomoon';

// $body-font-family: $overpass;
// $body-text-color: $dk-blue;
$body-line-height: 130%;

// Font Weight
$normal: 400;
$bold: 700; 
$black: 900;
